.side-bar {
  width: 28%;
  min-height: 100vh;
 
  background: #333333;
}
.side-bar__title {
  margin: 0px 10%;
  margin-top: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px; 
  line-height: 40px;
  
  color: #F0F0F0;
}
.side-bar__description{
  position: relative;
  margin: 20px 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #9B9B9B;
}
.side-bar__delimetr {
  height: 0px;
  margin: 10px 40% 30px 10%;

  border: 1px solid #5E5E5E;
}
.side-bar-nav{ 
  margin: 0px 10%;
} 
.side-bar-nav__link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  
  display: flex;
  align-items: center;
  text-transform: uppercase;
  
  color: #969696;
  
  text-decoration: none;
}
.side-bar-nav__link:hover {
  cursor: pointer;
  color: white;
}
.side-bar-nav__link2{
  margin-top: 15px;
}
.side-bar__delimetr2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.side-bar-social-networks{
  margin: 0px 40% 0px 10%;
  display: flex;
  
  color: #969696;
}
.side-bar-social-networks__icon:not(:nth-of-type(1)){ 
  margin-left: 20px;
}
.side-bar-social-networks__icon:hover{
  cursor: pointer;
}
.facebock{
  width: 20px;
  height: 20px;
  background: url(../img/icons/FacebookIcon.png) no-repeat;
  background-size: contain;
}
.instagram{
  width: 20px;
  height: 20px;
  background: url(../img/icons/InstagramIcon.png) no-repeat;
  background-size: contain;
}
.github{
  width: 20px;
  height: 20px;
  background: url(../img/icons/GithubIcon.png) no-repeat;
  background-size: contain;
}
.twitter{
  width: 20px;
  height: 20px;
  background: url(../img/icons/TwitterIcon.png) no-repeat;
  background-size: contain;
}